/* Colors */

.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg h6 {
	color: #b3a3b3;
}
.dark-bg {
	color: #e3e3e3;
}
#main section.dark-bg {
	background-color: #333;
}

/* Buttons */

#main section .button,
#main section button,
.open-modal button {
	background-color: #655e7a;
	color: #fff;
	border-color: #655e7a;
}

#main section.dark-bg .button,
#main section.dark-bg button,
.open-modal.dark-bg button {
	background-color: #e3e3e3;
	color: #3b3b3b;
	border-color: #e3e3e3;
}

/* Print styles */

@media print {
	header#header, section#menu, a#back-to-top {
		display: none !important;
	}
	#main, body {
		margin: 0 !important;
		padding: 0 !important;
	}
}

/* Overall styling */

#main {
	background-color: #fff;
}

html,
body {
	background-color: #fff;
}

#main article.subpage {
	font-size: 14pt;
	padding: 2em 8em 0;
}

/* Layouts & Positioning */

.center {
	margin: 0 auto;
	width: fit-content;
}

.flowing {
	max-width: 80em;
	margin: 0 auto;
}

.grid {
	display: grid;
	gap: 1em;
}

.grid.col-2 {
	grid-template-columns: 1fr 1fr;
}

.grid.col-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

/* Timeline */

.timeline {
	position: relative;
	height: 8in;
	width: 100%;
	padding: 0.5em 0;
	overflow: visible;
}

.timeline-track {
	position: absolute;
	left: 30%;
	top: 0;
	bottom: 0;
	width: 5px;
	background-color: black;
}

.timeline-year {
	position: absolute;
	left: 30%;
	border: 1px solid black;
	z-index: 1;
	background: white;
	transform: translate(-50%, -50%);
	padding: 0.5em 1.0em;
	line-height: 1.0;
}

h2.timeline-header {
	font-size: 80%;
	border: 1px solid #b3a3b3;
	width: fit-content;
	padding: 0 0.4em;
	position: absolute;
	top: -13pt;
	transform: translate(-50%, 0);
	display: none;
}

.timeline-entry {
	position: absolute;
	border-radius: 0.4em;
	border: 1px solid black;
	padding: 4px 2px 2px;
	margin-left: 4px;
	overflow: visible;
	font-size: 75%;
}

.timeline-entry .arrow {
	position: absolute;
	left: -9px;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-right: 8px solid black;
	border-bottom: 4px solid transparent;
}

.timeline-range {
	position: absolute;
	font-size: 75%;
}

.timeline-range.role {
	overflow: visible;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
}

.timeline-entry *, .timeline-range.role *, .timeline-range.publish *, .timeline-range.learn * {
	line-height: 1.0;
	margin-bottom: 0.2em;
}

.timeline-range.role::after,
.timeline-range.learn::after,
.timeline-range.publish::after {
	position: absolute;
	top: 0;
	height: 100%;
	content: '';
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 6px;
	overflow: visible;
}

.timeline-range.role::after {
	right: -10px;
	border-left: 1px solid black;
}

.timeline-range.learn::after,
.timeline-range.publish::after {
	left: -10px;
	border-right: 1px solid black;
}

h2.timeline-header.role.deep {
	left: calc(38px + 5%);
	display: block;
}

.timeline-range.role.deep {
	width: 10%;
	left: 30px;
}

h2.timeline-header.role.broad {
	left: 21%;
	display: block;
}

.timeline-range.role.broad {
	width: 10%;
	left: 16%;
}

h2.timeline-header.publish {
	left: 39%;
	display: block;
}

.timeline-range.publish {
	width: 10%;
	left: 34%;
}

.timeline-entry.publish {
	width: 10%;
	left: 34%;
}

.timeline-range.learn {
	width: 10%;
	left: 45%;
}

h2.timeline-header.success {
	left: 76.5%;
	display: block;
}

.timeline-entry.success-1 {
	left: 55%;
	width: 20%;
}

.timeline-entry.success-2 {
	left: 78%;
	width: 20%;
}

.timeline-range.era {
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	left: 0;
	margin-left: 1.5em;
	width: 0.5em;
	overflow: visible;
}

.timeline-range.era p {
	position: absolute;
	transform-origin: 0 0;
	top: 50%;
	left: -1.8em;
	transform: rotate(-90deg) translate(-50%, 0);
	white-space: nowrap;
	text-align: center;
}

/* Navigation drop-down */

nav.main #profile-nav {
	padding: 0 .5em;
}

nav.main #profile-nav .select-wrapper:before {
	top: 0.4em;
}

/* Landing page hero formatting */

#main section#hero .button {
	background-color: rgb(227,227,227);
	line-height: 2em;
	height: 2em;
	font-size: inherit;
}

article.landing section#hero h1 {
	margin-bottom: 1.5em;
	font-size: 60pt;
	color: #fff;
}

/* Big, purple drop-downs */

.select-wrapper.purple {
	display: inline-block;
	font-size: inherit;
	color: rgb(227,227,227);
}

.select-wrapper.purple select {
	background: #655e7a;
	border: none;
	border: solid 1px #655e7a;
	border-radius: 6px;
	color: inherit;
	display: inline-block;
	outline: 0;
	margin: 0.25em 0;
	padding: 0 3em 0 1em;
	text-decoration: none;
	width: auto;
	height: 2em;
	line-height: 2em;
	font-size: inherit;
	cursor: pointer;
	transition: all 0.3s ease;
}

.select-wrapper.purple:before {
	font-size: inherit;
	opacity: 0.6;
	color: #fff;
	height: 2em;
	line-height: 2em;
	width: 2em;
	margin: 0.25em 0;
	transition: all 0.3s ease;
}

.select-wrapper.purple:hover,
.select-wrapper.purple:hover:before {
	color: #2ebaae;
	opacity: 1;
}

/* Contact Us formatting */

.band#contact textarea#details {
	height: 30em;
}

.band#contact .grid.col-2 {
	grid-template-columns: 1fr max-content;
}

.band#contact .social-buttons a {
	font-size: 3em;
	border: 0 none;
	margin: 10px;
}

.band#contact .social-buttons {
	list-style: none;
	display: flex;
}
