/* Colors */

.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg h6 {
	color: #b3a3b3;
}
.dark-bg {
	color: #e3e3e3;
}
#main section.dark-bg {
	background-color: #333;
}

/* Buttons */

#main section .button,
#main section button,
.open-modal button {
	background-color: #655e7a;
	color: #fff;
	border-color: #655e7a;
}

#main section.dark-bg .button,
#main section.dark-bg button,
.open-modal.dark-bg button {
	background-color: #e3e3e3;
	color: #3b3b3b;
	border-color: #e3e3e3;
}

/* Print styles */

@media print {
	header#header, section#menu, a#back-to-top {
		display: none !important;
	}
	#main, body {
		margin: 0 !important;
		padding: 0 !important;
	}
}

/* Overall styling */

#main {
	background-color: #fff;
}

html,
body {
	background-color: #fff;
}

#main article.subpage {
	font-size: 14pt;
	padding: 2em 8em 0;
}

/* Layouts & Positioning */

.center {
	margin: 0 auto;
	width: fit-content;
}

.flowing {
	max-width: 80em;
	margin: 0 auto;
}

.grid {
	display: grid;
	gap: 1em;
}

.grid.col-2 {
	grid-template-columns: 1fr 1fr;
}

.grid.col-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

/* Timeline */

.timeline {
	position: relative;
	height: 8in;
	width: 100%;
	padding: 0.5em 0;
	overflow: visible;
}

.timeline-entry {
	position: absolute;
	border-radius: 0.4em;
	border: 1px solid black;
	padding: 0.5em;
	margin-left: 4px;
	overflow: visible;
}

.timeline-entry :last-child {
	margin-bottom: 0;
}

.timeline-entry .arrow {
	position: absolute;
	left: -0.5em;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-right: 8px solid black;
	border-bottom: 4px solid transparent;
}

.timeline-range {
	position: absolute;
}

/* Navigation drop-down */

nav.main #profile-nav {
	padding: 0 .5em;
}

nav.main #profile-nav .select-wrapper:before {
	top: 0.4em;
}

/* Landing page hero formatting */

#main section#hero .button {
	background-color: rgb(227,227,227);
	line-height: 2em;
	height: 2em;
	font-size: inherit;
}

article.landing section#hero h1 {
	margin-bottom: 1.5em;
	font-size: 60pt;
	color: #fff;
}

/* Big, purple drop-downs */

.select-wrapper.purple {
	display: inline-block;
	font-size: inherit;
	color: rgb(227,227,227);
}

.select-wrapper.purple select {
	background: #655e7a;
	border: none;
	border: solid 1px #655e7a;
	border-radius: 6px;
	color: inherit;
	display: inline-block;
	outline: 0;
	margin: 0.25em 0;
	padding: 0 3em 0 1em;
	text-decoration: none;
	width: auto;
	height: 2em;
	line-height: 2em;
	font-size: inherit;
	cursor: pointer;
	transition: all 0.3s ease;
}

.select-wrapper.purple:before {
	font-size: inherit;
	opacity: 0.6;
	color: #fff;
	height: 2em;
	line-height: 2em;
	width: 2em;
	margin: 0.25em 0;
	transition: all 0.3s ease;
}

.select-wrapper.purple:hover,
.select-wrapper.purple:hover:before {
	color: #2ebaae;
	opacity: 1;
}

/* Contact Us formatting */

.band#contact textarea#details {
	height: 30em;
}

.band#contact .grid.col-2 {
	grid-template-columns: 1fr max-content;
}

.band#contact .social-buttons a {
	font-size: 3em;
	border: 0 none;
	margin: 10px;
}

.band#contact .social-buttons {
	list-style: none;
	display: flex;
}
