/* Colors */

:root {
	--color-black: #000;
	--color-white: #fff;
	--color-controls: #655e7a;
	--color-bg-dark: #333;
	--color-text-normal: black;
	--color-text-normal-on-dark-bg: #e3e3e3;
	--color-text-lighter: #666666;
	--color-text-subtle: #cbcbcb;
	--color-text-subtle-on-dark-bg: #b3a3b3;
	--color-text-on-light-controls: #3b3b3b;
	--border: 1px solid var(--color-black);
}

.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg h6 {
	color: var(--color-text-subtle-on-dark-bg);
}
.dark-bg {
	color: var(--color-text-normal-on-dark-bg);
}
#main section.dark-bg {
	background-color: var(--color-bg-dark);
}

/* Buttons */

#main section .button,
#main section button,
.open-modal button {
	background-color: var(--color-controls);
	color: var(--color-text-normal-on-dark-bg);
	border-color: var(--color-controls);
}

#main section.dark-bg .button,
#main section.dark-bg button,
.open-modal.dark-bg button {
	background-color: var(--color-text-normal-on-dark-bg);
	color: var(--color-text-on-light-controls);
	border-color: var(--color-text-normal-on-dark-bg);
}

/* Print styles */

@media print {
	header#header, section#menu, a#back-to-top {
		display: none !important;
	}

	#main, body {
		margin: 0 !important;
		padding: 0 !important;
	}

	#resume .timeline {
		font-size: 70%;
	}

	#resume a {
		border: 0;
	}
}

@media screen {
	#resume .contact_info {
		/* display: none; */
	}
}

/* Overall styling */

#main {
	background-color: var(--color-white);
}

html,
body {
	background-color: var(--color-white);
}

#main article.subpage {
	font-size: 14pt;
	padding: 2em 8em 0;
}

/* Layouts & Positioning */

.center {
	margin: 0 auto;
	width: fit-content;
}

.flowing {
	max-width: 80em;
	margin: 0 auto;
}

.grid {
	display: grid;
	gap: 1em;
}

.grid.col-2 {
	grid-template-columns: 1fr 1fr;
}

.grid.col-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

/* Resume-specific */

#resume > ul {
	margin-bottom: 0.3em;
}

#resume > h1 {
	margin: 0;
}

#resume .contact_info * {
	margin: 0 0 0.4em;
	line-height: 1.0;
	text-align: right;
}

#resume .contact_info {
	border-radius: 4px;
	border: 1px solid var(--color-text-subtle);
	width: fit-content;
	padding: 0.5em;
	float: right;
	margin: 0 0 1em 1.5em;
}

/* Timeline */

.timeline {
	position: relative;
	height: 9.5in;
	width: 100%;
	padding: 0.5em 0;
	overflow: visible;
	margin: 1em 0;
}

.timeline-track {
	position: absolute;
	left: 45%;
	top: 0;
	bottom: 0;
	width: 5px;
	background-color: var(--color-text-normal);
}

.timeline-year {
	position: absolute;
	left: 45%;
	border: var(--border);
	z-index: 1;
	background: var(--color-white);
	transform: translate(-50%, -50%);
	padding: 0.3em 0.5em;
	margin: 0;
	line-height: 1.0;
}

h2.timeline-header {
	font-size: 90%;
	font-weight: bold;
	color: var(--color-text-lighter);
	width: fit-content;
	padding: 0 0.4em;
	position: absolute;
	top: -13pt;
	transform: translate(-50%, 0);
	display: none;
}

.timeline-range {
	position: absolute;
	font-size: 80%;
}

.timeline-entry {
	position: absolute;
	border-radius: 0.4em;
	border: var(--border);
	padding: 4px 2px 2px;
	margin-left: 4px;
	overflow: visible;
	font-size: 80%;
}

.timeline-entry .arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 2.5pt solid transparent;
	border-bottom: 2.5pt solid transparent;
}

.timeline-entry.success .arrow {
	border-right: 5pt solid var(--color-text-normal);
	left: calc(-5px - 1pt);
}

.timeline-entry.publish .arrow {
	right: calc(-5px - 1pt);
	border-left: 5pt solid var(--color-text-normal);
}

.timeline-entry-relative {
	border-radius: 0.4em;
	border: var(--border);
	height: 23%;
	margin: 1% 0;
	padding: 4px 2px 2px;
	overflow: visible;
	font-size: 80%;
}

.timeline-entry-relative .arrow {
	position: absolute;
	display: block;
	left: 0;
	width: 20px;
	margin: 0;
	display: none;
}

.timeline-entry-relative .dot {
	position: absolute;
	left: 0;
	border-radius: 50%;
	border: 2pt solid black;
	transform: translate(-50%, -50%);
	display: none;
}

.role, .learn, .publish {
	text-align: right;
}

.timeline-range.role,
.timeline-range.learn,
.timeline-entry-relative .google_chart,
.timeline-entry-relative.success .description {
	overflow: visible;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.timeline-range.publish {
	padding-top: 0.7em;
}

.timeline-entry *, .timeline-entry-relative .description *, .timeline-range.role *, .timeline-range.publish * {
	line-height: 1.0;
	margin-bottom: 0.2em;
}

.timeline-range.learn * {
	line-height: 1.2;
	margin-bottom: 0.5em;
	font-size: 80%;
}

.timeline-range.role::after,
.timeline-range.learn::after,
.timeline-range.publish::after {
	position: absolute;
	top: 0;
	height: 100%;
	content: '';
	border-top: var(--border);
	border-bottom: var(--border);
	width: 6px;
	overflow: visible;
}

.timeline-range.role::after,
.timeline-range.learn::after,
.timeline-range.publish::after {
	right: -10px;
	border-left: var(--border);
}

 /* {
	left: -10px;
	border-right: var(--border);
} */

h2.timeline-header.role.deep {
	left: calc(38px + 4%);
	display: block;
}

.timeline-range.role.deep {
	width: 8%;
	left: 30px;
}

h2.timeline-header.role.broad {
	left: 15%;
	display: block;
}

.timeline-range.role.broad {
	width: 8%;
	left: 11%;
}

h2.timeline-header.learn {
	left: 25%;
	display: block;
}

.timeline-range.learn {
	width: 10%;
	left: 20%;
}

h2.timeline-header.publish {
	left: 37%;
	display: block;
}

.timeline-range.publish {
	width: 10.5%;
	left: 31.5%;
}

.timeline-entry.publish {
	width: 10.5%;
	left: 31%;
}

h2.timeline-header.success {
	left: 74%;
	display: block;
}

div.successes {
	position: absolute;
	left: 47.5%;
	width: 52%;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 20px;
}

.timeline-entry-relative.success {
	height: 23.5%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
}

.timeline-entry-relative.success .description {
	margin-left: 1em;
	grid-column: 1;
}

.timeline-entry-relative.success .description h3 {
	margin-top: 0.4em;
}

.timeline-entry-relative.success .google_chart {
	grid-column: 2;
}

.timeline-range.era {
	border-left: var(--border);
	border-top: var(--border);
	border-bottom: var(--border);
	left: 0;
	margin-left: 1.5em;
	width: 0.5em;
	overflow: visible;
}

.timeline-range.era p {
	position: absolute;
	transform-origin: 0 0;
	top: 50%;
	left: -1.8em;
	transform: rotate(-90deg) translate(-50%, 0);
	white-space: nowrap;
	text-align: center;
}

/* Navigation drop-down */

nav.main #profile-nav {
	padding: 0 .5em;
}

nav.main #profile-nav .select-wrapper:before {
	top: 0.4em;
}

/* Landing page hero formatting */

#main section#hero .button {
	background-color: rgb(227,227,227);
	line-height: 2em;
	height: 2em;
	font-size: inherit;
}

article.landing section#hero h1 {
	margin-bottom: 1.5em;
	font-size: 60pt;
	color: #fff;
}

/* Big, purple drop-downs */

.select-wrapper.purple {
	display: inline-block;
	font-size: inherit;
	color: rgb(227,227,227);
}

.select-wrapper.purple select {
	background: #655e7a;
	border: none;
	border: solid 1px #655e7a;
	border-radius: 6px;
	color: inherit;
	display: inline-block;
	outline: 0;
	margin: 0.25em 0;
	padding: 0 3em 0 1em;
	text-decoration: none;
	width: auto;
	height: 2em;
	line-height: 2em;
	font-size: inherit;
	cursor: pointer;
	transition: all 0.3s ease;
}

.select-wrapper.purple:before {
	font-size: inherit;
	opacity: 0.6;
	color: #fff;
	height: 2em;
	line-height: 2em;
	width: 2em;
	margin: 0.25em 0;
	transition: all 0.3s ease;
}

.select-wrapper.purple:hover,
.select-wrapper.purple:hover:before {
	color: #2ebaae;
	opacity: 1;
}

/* Contact Us formatting */

.band#contact textarea#details {
	height: 30em;
}

.band#contact .grid.col-2 {
	grid-template-columns: 1fr max-content;
}

.band#contact .social-buttons a {
	font-size: 3em;
	border: 0 none;
	margin: 10px;
}

.band#contact .social-buttons {
	list-style: none;
	display: flex;
}
